*{
    box-sizing: border-box;
}
div{
    padding: 40px;
    border-style:ridge
}
.colorDiv2
.colorDiv3
.colorDiv4
.colorDiv5
.colorDiv6
.colorDiv7
.colorDiv8
.colorDiv9
.colorDiv10
.colorDiv11
.colorDiv12
.colorDiv13
.colorDiv14
.colorDiv15